# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=green_shop
DB_USER=postgres
DB_PASSWORD=green.2728

# Cloudinary (imágenes)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# MercadoPago
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=

# App
APP_SECRET_KEY=cambia_esto_por_algo_seguro
DEBUG=true